.link {
    display: inline;
    list-style-type: none;
    margin: 15px;
  }
  
.link a {
  text-decoration-line: none;
  color: white;
}

.link a.active {
  color: burlywood;
}

.menu {
  padding-inline-start: 0;
}